/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

/* Variáveis Globais */
:root {
    --bg: #2c2b54;
    --text: #FFF;
}

/* Estilos Globais */
* {
    font-family: "Poppins";
    caret-color: transparent;
}

/* Cor de Fundo */
.bg-color {
    background-color: var(--bg);
}

/* Grade de Contêiner */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Estilos da Seção de Contato */
#main-contato {
    margin-top: 2.5rem;
}

#main-contato h1 {
    font-size: 50px;
    margin-bottom: 0;
    text-align: center;
}

#main-contato h1,
#p-endereco,
.item-grid2,
.item-grid {
    text-align: center;
}

.item-grid,
.item-grid2 {
    padding: 20px;
    margin: auto;
}

/* Estilos da Seção de Mídia Social */
.sectionSociais {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 2% 4.5% 4.5% 4.5%;
}

.sectionSociais div {
    margin-top: 20px;
    width: 175px;
    height: 175px;
    background-color: var(--bg);
    border-radius: 6px;
    box-shadow: 0 0.1rem 0.5rem var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin-top 0.3s;
}

.sectionSociais div:hover {
    margin-top: -2px;
}

.sectionSociais div i {
    color: var(--text);
    font-size: 160px;
}

#email {
    font-size: 140px;
}

.sectionSociais div a {
    text-align: center;
}

.sectionSociais div img {
    width: 65%;
}

/* Estilos da Seção de Contatos */
.div-contatos {
    margin: 5%;
    padding: 1.5%;
    border: 2px solid var(--bg);
    border-radius: 6px;
    box-shadow: 0 0.1rem 0.5rem var(--bg);
}

.foto-coord,
.foto-desenvolvedor {
    width: 20%;
    border-radius: 50%;
    border: 1px solid black;
}

.foto-coord {
    width: 35%;
}

.descricao-coordenador,
.p-descricao {
    padding: 12px;
    text-align: left;
    font-size: 1em;
}

.div-desenvolvedores,
.container-1 {
    display: flex;
    align-items: center;
}

.container-1 {
    border-right: 1px solid var(--bg);
}

.p-descricao {
    text-align: left;
    padding: 12px;
    margin-left: 15px;
}

.div-desenvolvedores {
    justify-content: center;
}

/* Estilos das Bolinhas */
.bolinhas {
    display: flex;
    gap: 2%;
    justify-content: center;
    padding: 20px;
}

.bolinhas span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg);
}

/* Estilos da Seção de Desenvolvedores */
.h6-desenvolvedores {
    font-weight: bold;
    padding-top: 10px;
}

/* Estilos da API do Google Maps */
.mapbox {
    padding: 50px;
    padding-top: 0px;
}

.mapbox iframe {
    width: 100%;
    height: 300px;
    border-radius: 7px;
}

#titulo-localizacao {
    font-weight: bold;
    text-align: center;
}

/* Consultas de Mídia */
@media (max-width: 1228px) {

    .descricao-coordenador,
    .p-descricao {
        font-size: 0.8em;
    }
}

@media (max-width: 1000px) {
    .foto-coord {
        width: 30%;
    }

    .div-contatos {
        display: block;
    }

    .container-1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: auto;
        border-right: none;
        border-bottom: 2px solid var(--bg);
    }

    .div-desenvolvedores {
        margin-top: 2%;
    }

    .descricao-coordenador {
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .sectionSociais {
        gap: 30px;
    }

    .sectionSociais div {
        margin-top: 10px;
    }

    .sectionSociais div i {
        color: var(--text);
        font-size: 9rem;
    }

    .descricao-coordenador {
        font-size: 0.9em;
    }
}

@media (max-width: 570px) {
    #main-contato h1 {
        font-size: 48px;
    }

    .sectionSociais {
        display: block;
    }

    .sectionSociais div {
        width: 200px;
        height: 200px;
        margin: 4% auto;
    }

    .sectionSociais div i {
        font-size: 175px;
    }

    #email {
        font-size: 155px;
    }
}

@media (max-width: 480px) {
    #main-contato h1 {
        font-size: 45px;
    }

    .sectionSociais div {
        width: 150px;
        height: 150px;
        margin: 3% auto;
    }

    .sectionSociais div i {
        font-size: 130px;
    }

    #email {
        font-size: 120px;
    }
}

@media (max-width: 455px) {
    .descricao-coordenador {
        font-size: 13px;
    }
}

@media (max-width: 415px) {
    .descricao-coordenador i {
        display: none;
    }
}