@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

:root {
    --bg: #2c2b54;
    --text: #FFF;
}

* {
    font-family: "Poppins";
    caret-color: transparent;
}

.bg-color {
    background-color: var(--bg);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main-contato h1,
#p-endereco,
.item-grid2,
.item-grid {
    text-align: center;
}

#main-contato {
    margin-top: 4.5rem;
}

#main-contato h1 {
    margin: 5px;
    font-size: 50px;
    margin-bottom: 0;
}

.item-grid {
    padding: 20px;
    margin: auto;
}

.item-grid2 {
    padding: 10px;
    margin: auto;
}

/* ------------------------- */

.sectionSociais {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 4.5%;
}

.sectionSociais div {
    margin-top: 20px;
    width: 175px;
    height: 175px;
    background-color: var(--bg);
    border-radius: 6px;
    box-shadow: 0 0.1rem 0.5rem var(--bg);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: margin-top 0.3s;
}

.sectionSociais div:hover {
    margin-top: -2px;
}

.sectionSociais div i {
    color: white;
    font-size: 160px;
}

#email {
    font-size: 140px;
}

.sectionSociais div a {
    text-align: center;
}

.sectionSociais div img {
    width: 65%;
}

/* ------------------------- */

.div-contatos {
    margin: 5%;
    padding: 1.5%;
    border: 2px solid var(--bg);
    border-radius: 6px;
    box-shadow: 0 0.1rem 0.5rem var(--bg);
}

.foto-coord {
    width: 35%;
    border-radius: 50%;
    border: 1px solid black;
}

.descricao-coordenador {
    padding: 12px;
    text-align: left;
    font-size: 1em;
}

.foto-desenvolvedor {
    width: 20%;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    margin: 5px;
}

.div-desenvolvedores,
.container-1 {
    display: flex;
    align-items: center;
}

.container-1 {
    border-right: 1px solid var(--bg);
}

.p-descricao {
    text-align: left;
    padding: 12px;
    margin-left: 15px;
}

.div-desenvolvedores {
    justify-content: center;
}


/* ------------------------- */

/* Bolinhas */
.bolinhas {
    display: flex;
    gap: 2%;
    justify-content: center;
    padding: 20px;
}

.bolinhas span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg);
}

/* --------------------------- */

.h6-desenvolvedores {
    font-weight: bold;
    padding-top: 10px;
}

/* Google Maps API*/
.mapbox {
    padding: 50px;
    padding-top: 0px;
}

.mapbox iframe {
    width: 100%;
    height: 300px;
    border-radius: 7px;
}

#titulo-localizacao {
    font-weight: bold;
    text-align: center;
}

/* --------------------------- */

@media (max-width: 768px) {
    .sectionSociais {
        gap: 30px;
    }

    .sectionSociais div {
        margin-top: 10px;
    }

    .sectionSociais div i {
        color: white;
        font-size: 9rem;
    }
}

@media (max-width: 570px) {
    #main-contato h1 {
        font-size: 48px;
    }

    .sectionSociais{
        display: block;
    }

    .sectionSociais div {
        width: 200px;
        height: 200px;
        margin: 4% auto;
    }

    .sectionSociais div i {
        font-size: 175px;
    }
    
    #email {
        font-size: 155px;
    }
}

@media (max-width: 480px) {
    #main-contato h1 {
        font-size: 45px;
    }

    .sectionSociais div {
        width: 150px;
        height: 150px;
        margin: 3% auto;
    }

    .sectionSociais div i {
        font-size: 130px;
    }
    
    #email {
        font-size: 120px;
    }
}