@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

:root {
    --bg: #2c2b54;
    --text: #FFF;
}

html,
body {
    font-family: "Poppins";
    caret-color: transparent;
}

.navbar {
    height: 62px;
    box-shadow: 0 0.1rem 0.5rem var(--bg);
}

nav a img {
    margin-left: 5%;
}