@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

:root {
    --bg: #2c2b54;
    --text: #FFF;
}

.bg-color {
    background-color: var(--bg);
}

html,
body {
    font-family: "Poppins";
}

.title{
    margin-top: 6rem;
    text-align: center;
    font-size: 38px;
    padding-bottom: 1em;
}

#project-container{
    padding-bottom: 3em;
}

.li-intrucoes{
   padding-bottom: 1em;
}

#btnGaleria-a{
    font-size:100px ;
}