:root{
    --bg: #2d2c55;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
}

.justify, td {
    text-align: justify;
}

#sectionCarrousel {
    margin-top: 5em;
}

.slideCarrousel {
    max-width: 100%;
    height: auto;
}

.custom-carousel-section {
    max-width: 600px; 
    margin: 0 auto; 
}

.bg-color{
    background-color: var(--bg);
}

